.filters{
    padding: 5px;
}
#downloadDropdown{
    background: black;
    color: white;
}
.page-limit.active {
    background-color: black !important;
    color: white;
    border-color: black;
}

.dropdown-menu {
    z-index: 2000;
}
  
.data-table{
    margin-top: 30px;
}

.card{
    background: #e4e4e4 ;
}
.pl-3, .px-3 {
    padding-left: 0rem !important;
}
.pr-3, .px-3 {
    padding-right: 0rem !important;
}

@media (min-width: 1440px) {
    .container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}